<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Multimodal_Learning_Analytics_for_Sustained_Attention.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Multimodal_Learning_Analytics_for_Sustained_Attention.Properties.Settings>
        <setting name="ENABLE_DIAGNOSTICS" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="VIDEO_WIDTH" serializeAs="String">
            <value>1280</value>
        </setting>
        <setting name="VIDEO_HEIGHT" serializeAs="String">
            <value>720</value>
        </setting>
        <setting name="VIDEO_FRAMERATE" serializeAs="String">
            <value>30</value>
        </setting>
        <setting name="PSI_STORES_FOLDER" serializeAs="String">
            <value>D:\psi_stores</value>
        </setting>
        <setting name="EXPERIMENTS_TEXTS_BASE_FOLDER" serializeAs="String">
            <value>D:\research_project</value>
        </setting>
        <setting name="EXPERIMENT1_RESULTS_FOLDER" serializeAs="String">
            <value>D:\experiment_results\experiment1</value>
        </setting>
        <setting name="LAV_AUDIO_SUB_IP" serializeAs="String">
            <value>192.168.137.1:12345</value>
        </setting>
        <setting name="LAV_RAW_TOPIC" serializeAs="String">
            <value>lav-audio-raw</value>
        </setting>
        <setting name="LAV_FREQ_TOPIC" serializeAs="String">
            <value>lav-audio-freq</value>
        </setting>
        <setting name="LAV_SYNC_TIME" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="EP_AUDIO_SUB_IP" serializeAs="String">
            <value>127.0.0.1:12345</value>
        </setting>
        <setting name="EP_RAW_TOPIC" serializeAs="String">
            <value>ep-audio-raw</value>
        </setting>
        <setting name="EP_FREQ_TOPIC" serializeAs="String">
            <value>ep-audio-freq</value>
        </setting>
        <setting name="EP_SYNC_TIME" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="AUDIO_PLAYER_TOPIC" serializeAs="String">
            <value>sound-played</value>
        </setting>
        <setting name="AUDIO_PLAYER_SUB_IP" serializeAs="String">
            <value>192.168.137.1:12347</value>
        </setting>
        <setting name="IR_COM_PORT" serializeAs="String">
            <value>COM5</value>
        </setting>
        <setting name="IR_BAUD_RATE" serializeAs="String">
            <value>115200</value>
        </setting>
        <setting name="VIDEO_VERTICAL_FLIP" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AUDIO_BLOCK_SIZE" serializeAs="String">
            <value>4410</value>
        </setting>
    </Multimodal_Learning_Analytics_for_Sustained_Attention.Properties.Settings>
  </userSettings>
</configuration>
